.dives{position:absolute;
    margin-left: 15%; 
    margin-top: 4%;
    width:67%;
    border: 5px outset rgb(43, 44, 46);
    border-radius: 15px;
    background-color: rgb(250, 250, 250);  
    padding-left: 2.5%;
    padding-right: 0;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: lightgray ;
      background: rgb(224, 222, 222,0.5)
    }
    .btn{
      background-color: rgb(97, 74, 15) ;
color:white;
    }
   h1{
    font-size: 35px;
   }
      #heads{
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

    #myforms1{
       margin-left:4%;
    }
  
    #myforms1 label{
      color:red;
    }
    
    form label{
      font-size: medium;
    }

    span{
      border-top-right-radius:60px;
        border-bottom-right-radius:60px;
        height:49px;
    }
    .form-control{
      height:50px;
      width:70%;
      border:1px solid rgb(228, 226, 226);
      outline:none;
      margin-left: 100px;
      border-radius: 60px;
      box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
      -webkit-box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
      -moz-box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
  }
    .active, .dot:hover {
      background-color: #717171;
    }
      @media screen and (min-width: 768px) {
        #masthead h1 {
          font-size: 80px;
        }
        
      }
      